@model IEnumerable<TrashCollectorInc.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Edit">Edit Employee Information</a>
</p>*@
<form asp-action="FilterByDay">
    <div>
        <label>Pick Up Day: </label>
        <select name="searchString" asp-items="ViewBag.WeeklyPickupDay"></select>
    </div>
    <div>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </div>
</form>
<table class="table">
    <thead>
        
        <tr>
            <th>
                <a asp-action="Index" name="searchString"> @Html.DisplayNameFor(model => model.WeeklyPickupDay)</a>
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ZipCodeSortParm"]"> @Html.DisplayNameFor(model => model.ZipCode)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StartPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimePickupDateRequest)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeeklyPickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.StartPickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneTimePickupDateRequest)
            </td>
            
      
            <td>
                <a asp-action="ConfirmPickup" asp-route-id="@item.Id">Confirm Pickup</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
